.labelalign{
    text-align: right !important
}
 /* .ng-valid[required], .ng-valid.required  {
    border: 2px solid #42A948;  
  } */
  /* 
  .ng-invalid:not(form)  {
    border: 1px solid #a94442; 
  } */

a{
    cursor: pointer;
}
.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.example-container > mat-form-field {
  width: 90%;
  margin-left: 0px;
}

.custome{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.example-container1 > mat-form-field {
  width: 100%;
  margin-left: 0px;
  /* padding: 0% 25% 0% 25% ; */
}

.card1 {
    width: 50% !important; 
    margin-left: 25% !important;
    margin-right: 25% !important;
}