<app-header>

</app-header>
<div class="row">
<app-sidenav style="background-color: #bcdefb;"></app-sidenav>
  <div class="col-md-10 main">
    <!-- <div class="grid-container"> -->
    <!-- <h1 class="mat-h1">Dashboard</h1> -->
    <div class="" [ngClass]="(nvipani)?'card1':'card'">
      <div class="card">
        <div class="card-header ">
          <span> List of Unit of Measures </span>
          <!-- <button mat-raised-button (click)="register()" data-toggle="modal" data-target=".bd-example-modal-lg" class="float-right"
      color="accent">Register</button> -->
          <button mat-raised-button    class="float-right btn btn-sm" data-toggle="modal" data-target=".uom_add" color="accent" *ngIf="!nvipani">
            <i class="fa fa-plus"></i>
            <i class="fa fa-user"></i>
          </button>
             <button mat-raised-button (click)="back()" class="float-right" color="accent" *ngIf="nvipani">Back</button>
          <!-- <a class="btn btn-sm btn-danger float-right">float-right</a> -->
        </div>
        <div class="card-body" >
          <div class="row ">
            <div class="col-md-3 float-right">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
                <input class="form-control-sm form-control" placeholder="Search" type="text" [(ngModel)]="filterQuery" autocomplete="off"
                  name="filter">
              </div>
            </div>
          </div>
          <!-- <table class="table table-bordered"> -->
          <table class="table table-sm table-inverse table-bordered" [mfData]="tabaledata1 | dataFilter : filterQuery" #mf="mfDataTable"
            [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">

            <thead>
              <tr>
                <th style="width: 5%">
                  <mfDefaultSorter by="name">S.No

                  </mfDefaultSorter>
                </th>
                <th style="width: 20%">
                  <mfDefaultSorter by="name">Name </mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="symbol">Symbol </mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="type">Type </mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="uqcCode">UQC Code </mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="quantityType">Quantity Type </mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="Description">Descripton </mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="Description">Options </mfDefaultSorter>
                </th>
              </tr>
            </thead>

            <tbody *ngFor="let t of mf.data; let i=index; let k=index;">
              <tr [ngClass]="{'deletecolor':t.deleted}">
                <th scope="row">{{tabaledata1.indexOf(t)+1}}</th>
                <td>{{t.name}}</td>
                <td>{{t.symbol}}</td>
                <td>{{t.type}}</td>
                <td>{{t.uqcCode}}</td>
                <td>{{t.quantityType}}</td>
                <td>{{t.description}}</td>
                <td><a [ngClass]="{'unselectable':t.disabled}" (click)="delete_popup(t)" data-toggle="modal" style="margin-right: 5px; margin-left: 5px;" data-target=".delete" class="btn btn-sm btn-success">
                  <i class="fas fa-eye"></i>
                </a>

                </td>

                <!-- <td>
                  <button [disabled]="t.disabled" class="btn btn-sm btn-success" (click)="disable_popup(t)"  data-toggle="modal"
                    data-target=".disable">
                    <i class="fas fa-user-lock"></i>
                  </button>

                  <a [ngClass]="{'unselectable':t.disabled}" (click)="delete_popup(t)" data-toggle="modal" style="margin-right: 5px; margin-left: 5px;" data-target=".delete" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i>
                  </a>
                  <a *ngIf="t.resetPasswordToken" [ngClass]="{'unselectable':t.disabled}" (click)="reset_popup(t)"  data-toggle="modal" data-target=".reset" class="btn btn-sm btn-warning">
                      <i class="fas fa-unlock-alt"></i>
                  </a>
                  <a *ngIf="!t.resetPasswordToken" (click)="reset_popup(t)"  data-toggle="modal" data-target=".reset" class="btn btn-sm btn-warning">
                      <i class="fas fa-lock"></i>
                  </a>
                </td> -->
              
              </tr>
              <tr>

              </tr>

            </tbody>
            <tbody *ngIf="loading">
              <tr>
                <td class="text-center" colspan="13">
                  <i class="fa fa-spinner fa-spin fa-2x"></i>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="mf.data.length != 0 ">
              <tr>
                <td colspan="10">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,15,25,50]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>

          </table>

        </div>
    
      </div>

    </div>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->
    <!-- Register Form POPUP-->
    <div class="modal fade uom_add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Welcome </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="col-md-12 custome">
            <div class="card text-center">
              <div class="card-header  card bg-primary text-white">
               Add Unit Of Measure
              </div>
              <div class="card-body">
                <form method="POST" [formGroup]="UOM_FORM">
                  <div class="example-container">
                    <div class="row">
                      
                        <div class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder="Name " formControlName="name" required>
                            <mat-error *ngIf="UOM_FORM.controls['name'].hasError('required')">Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <input matInput placeholder="Symbol" formControlName="symbol" required>
                            <mat-error *ngIf="UOM_FORM.controls['symbol'].hasError('required')"> </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <input matInput placeholder="Unique Code"   formControlName="uqcCode"  required>
                            <mat-error *ngIf="!UOM_FORM.controls['uqcCode'].valid || !UOM_FORM.controls['uqcCode'].pristine">
                              <!-- <mat-error *ngIf="UOM_FORM.controls['uqcCode'].hasError('minlength')">uqcCode should be 10digit</mat-error> -->
                              <mat-error *ngIf="UOM_FORM.controls['uqcCode'].hasError('required')">uqcCode is required</mat-error>
                              <!-- <mat-error *ngIf="UOM_FORM.controls['uqcCode'].hasError('pattern')">Mobile numberr should be only numbers</mat-error> -->
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4"  >
                          <mat-form-field> 
                            <input matInput placeholder="Description" type= "text" formControlName="description" required>
                            <mat-error *ngIf="UOM_FORM.controls['description'].hasError('required')"> Description is required</mat-error>
                         </mat-form-field>
                        </div>
                        <div class="col-md-4">
                         <mat-form-field>
                            <!-- <mat-select placeholder="Select" formControlName="type" required>
                                <mat-option  value="Simple">Simple</mat-option>
                                <mat-option  value="Compound">Compound</mat-option>                         
                              </mat-select>  -->
                              <mat-select placeholder="Color" formControlName="type">
                                  <mat-option value="Simple">Simple</mat-option>
                                  <mat-option value="Compound">Compound</mat-option>
                                  <mat-option value="warn">Warn</mat-option>
                                </mat-select>
                              <mat-error *ngIf="UOM_FORM.controls['type'].hasError('required')"> Please select type </mat-error>
                        
                            </mat-form-field>
                            <!-- select class="form-control"  formControlName="type" required>
                                <option  *ngFor="let t of types;" value="t.tyep">{{t.type}}</option>
                              </select> -->
                          
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <input matInput placeholder="quantityType" formControlName="quantityType" required>
                            <mat-error *ngIf="UOM_FORM.controls['quantityType'].hasError('required')">Please enter Quantity Type </mat-error> 
                          </mat-form-field>
                        </div>
                  
                  </div>


                    <div class="row">
                      <div class="col-md-7">
                        <button type="submit" (click)="onSubmit()" data-dismiss="modal" class="float-right btn btn-primary" [disabled]="!UOM_FORM.valid">Register</button>
                      </div>
                    </div>
                  </div>
                </form>
 

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Register Form POPUP-->
    <div class="modal fade disable" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="disable_Data">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Disable</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are Sure you want to Disable this User ...
              <span style="color: red">{{disable_Data.email }}</span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" (click)="disable(disable_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete POPUP-->

    <div class="modal fade delete" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="delete_Data">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are Sure you want to Delete this User ...
              <span style="color: red">{{delete_Data.email }}</span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" (click)="delete(delete_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->

<!--> Reset popup -->
<div class="modal fade reset" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="reset_Data">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are Sure you want to Reset this User's Password ...
              <span style="color: red">{{reset_Data.email }}</span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" (click)="resetPassword(reset_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>
          </div>
        </div>
      </div>
    </div>

<!--> Reset popup End -->

  </div>
</div>