<!-- <mat-sidenav-container class="all-wrap" fullscreen>
    <mat-sidenav #sidenav>
      <mat-list>
        <mat-list-item [routerLink]="['/']"> Foo</mat-list-item>
        <mat-list-item [routerLink]="['/bar']"> Bar</mat-list-item>
      </mat-list>
    </mat-sidenav>
  
    <div class="page-wrap">
      <header role="banner">
        <mat-toolbar color="primary">
           
          Your Toolbar
        </mat-toolbar>
      </header>
       
    </div>
  </mat-sidenav-container> -->



   
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="#">Welcome To Nvipani</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    
    
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Welcome ...{{headername}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)="logout()">Logout</a>                   
                        </div>
                    </li>
                    
                </ul>
            </div>
        </nav>
   