 
  <div class="col-md-2 nvipani" style="background-color: #c0daf3!important;">
    <mat-nav-list class="space">
      
            <a mat-list-item [routerLink]="['/user']"> 
             {{(usertype === 'Admin')?'Admin Users':'Users'}}
            </a> 
            <a mat-list-item  [routerLink]="['/uom']">Unit of Measures</a>
            <a mat-list-item [routerLink]="['/hsn']" >HSN Codes</a>
            <a mat-list-item [routerLink]="['/taxgroups']" >Tax Groups</a>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Categories
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a [routerLink]="['/category']">Main Categories</a></li>
                  <li><a href="#">Sub Categories-1</a></li>
                  <li><a href="#">Sub Categories-2</a></li>
                  <li class="divider"></li>
                </ul>
              </div>
     </mat-nav-list> 
  </div>
